:root {
    --aside-width: 120px;
    --main-color: #282c34;
    --text-main: white;
}

.app {
    color: var(--text-main);
}
.aside {
    height: 100%;
    width: var(--aside-width);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    border-right: #c8c8c8 solid 1px;
    background: var(--main-color);
}

.header {
    margin-left: var(--aside-width);
    height: 70px;
    border-bottom: #c8c8c8 solid 1px;
    background: var(--main-color);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-left: var(--aside-width);
    border-top: #c8c8c8 solid 1px;
    background: var(--main-color);
}

.content {
    margin-left: var(--aside-width);
    background: var(--main-color);
    overflow-y: hidden;
}

html, body {
    background: var(--main-color);
}